.hero-section {
  padding: 120px 0 100px;
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-image: url('../Image/bannerbg.jpg'); */
 
}

.hero-title {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 25px;
}

.hero-subtitle {
  font-size: 1.25rem;
  color: #64748b;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .hero-title {
    font-size: 3rem !important;
  }
}

.promo-badge {
  border: 4px dashed white;
}